{% extends 'base.html' %}
{% load static %}
{% block title %}
Covid-19 Dashboard
{% endblock %}
{% block stylescss %}
<link rel="stylesheet" href="{% static 'css/dashboard.css'%}">
{% endblock %}
{% block content %}
<div class="fixed-header">
  <div class="navbar navbar-fixed-top navbar-custom ">
    <div class="container" style="justify-content: center !important;">
      <div class="navbar-header">
        <nav>
          <a href="/"><span style="font-size: 50px;margin-left:10px;text-align: center;color:azure"><img
                src="https://img.icons8.com/cute-clipart/50/000000/coronavirus.png" /> COVID-19 DASHBOARD</span></a>
        </nav>
      </div>
      <div class="navbar">
        <ul class="nav navbar-nav navbar-right">
          <a href="/chatBot"><button type="button" class="btn btn-success">Got any queries, talk to our
              Bot!</button></a>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <a href="/prediction"><button type="button" style="margin-left:20px" class="btn btn-success">Check out, AI
              Powered COVID Predictions!</button></a>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <a href="/vaccination"><button type="button" style="margin-left:20px" class="btn btn-success">Check out,
              Vaccination Distribution!</button></a>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container" style="width: 98%;">
  <div class="row">
    <div class="col-12 col-lg-3"
      style="float: left;margin-top: 50px; max-height: 650px;max-width:400px;overflow: scroll; overflow-x:hidden;">
      <div style="background-color: rgb(41, 41, 40);">
        <span style="color: rgb(255, 255, 255); text-align: center; font-size: x-small;">
          <h4>Total Infected: <b>{{totalCount}}</b></h4>
        </span>
      </div>
      <div class="row">
        <form method="post" enctype="multipart/form-data" action="selectCountry">
          {% csrf_token %}
          <div class="col-lg-4" style="float: left;">
            {% for country in countryNames %}
            <table style="border-width: 2px; border: #333;">
              <tr>
                <input class="btn btn-dark" type="submit" value={{country}} name="countryName"
                  style="width:100px; margin:2px;">
              </tr>
            </table>
            {% endfor %}
          </div>
          <div class="col-lg-8" style="float: right;">
            <canvas id="myChart" style="height: 6650px; width: 154px;"></canvas>
          </div>
        </form>


      </div>
    </div>
    <div class="col-12 col-lg-6" style="float: left; margin-top: 50px;">
      <br>
      <br>
      {% if showMap == "True" %}
      <div id="MyMapChart"></div>
      {% elif showMap == "False" %}
      <h2 style="text-align:center">Analysis of {{countryName}}</h2>
      <canvas id="lineChart" style="height: 400px;"></canvas>
      {% endif %}
    </div>
    <div class="col-12 col-lg-3 "
      style="float: right;max-width: 400px;margin-top:50px ;  max-height: 650px;overflow: scroll; overflow-x:hidden;">
      <div style="background-color: rgb(41, 41, 40);">
        <span style="color: rgb(255, 255, 255); text-align: center; font-size: x-small;">
          <h4>Last 6 Days Count:</h4>
        </span>
      </div>
      <div class="col-lg-12">
        <div id="heatchart"></div>
      </div>
    </div>
  </div>
</div>
<div class="fixed-footer">
  <div style="display: flex; justify-content: center;align-items: center;">
    <span>
      <span style="color:azure ">Made with ❤ By</span>
      <a href="https://github.com/priyansh18">
        <img src="https://img.icons8.com/bubbles/50/000000/github.png" />
      </a><b>Priyansh Singhal</b>,
      <a href="https://github.com/dakshtrehan"><img
          src="https://img.icons8.com/bubbles/50/000000/github.png" /></a><b>Daksh Trehan</b> & <a
        href="https://github.com/abhishekjaglan"><img
          src="https://img.icons8.com/bubbles/50/000000/github.png" /></a><b>Abhishek Jaglan</b></span>
  </div>
</div>
{% endblock %}
{% block contentscript %}
<!-- Left Map -->
<script>
  /* python variable passed to javascript files(SOC) */
  document.dashboard = {}
  document.dashboard.countryNames = {{ countryNames | safe }}
  document.dashboard.barPlotVals = {{ barPlotVals | safe }}
  document.dashboard.axisValue = {{ axisValue | safe }}
  document.dashboard.dataForheatMap = {{ dataForheatMap | safe }}
  document.dashboard.datasetsForLine = {{ datasetsForLine | safe }}
  document.dashboard.dataForMap = {{ dataForMap | safe }}
  document.dashboard.dataCategory = {{ dataCategory | safe }}
</script>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}